html, body {
    margin: 0;
    padding: 0;
}

/*Header*/
header {
background-color:rgb(156, 214, 244);
padding-top: 30px;
padding-bottom: 30px;
padding-left: 15px;
background-image: url(/img/pattern.png);
}

#logo {
    height: 50px;
    margin-left: 10px;
}

/*main*/
/*article*/
main {
    margin: 25px;
    margin-top: 30px;
}
#author, h1 {
    margin: 0;
}

h1 {
    margin-top: 25px;
}
#author {
    color:rgb(158, 158, 157);
    margin-bottom: 20px;
}

#name-author {
    color: rgb(115, 174, 247);
}

figure {
    font-size:x-small;
    margin: 0;
}

#highlighted-text {
    background-color: rgb(255, 255, 0);
}

#list-align{
    padding: 15px;
}

/*table section*/

table {
    width: 1870px;
}

.size {
    width: 470px;
}

#table-headers {
    background-color: rgb(127, 166, 251);
    color: white;
    text-align: left;
}

.table-color {
    background-color: rgb(223, 229, 242);
}

/*Footer*/

footer {
    background-color: rgb(49, 58, 107);
    margin-top: 45px;
    padding: 5px;
}

#copyright {
    color: white;
    text-align: center;
}